/* 
    General Styles
*/
.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 50px;
    margin-right: 65px;
}

.scroll-container>div {
    display: inline-block;
    width: 33%;
    /* Ajusto el ancho de cada tarjeta para mostrar cuatro tarjetas por fila y no se vea feo */
}

body {
    background-image: url('https://img.freepik.com/foto-gratis/panorama-nocturno-galaxia_23-2148895322.jpg?t=st=1716143300~exp=1716146900~hmac=0e520a542e8e4c5dbcc67fbff7a4a6b06b35f3c3335f4d4788bdb36a2832fa0d&w=740');
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
    margin: 0; /* Elimina el margen predeterminado del body */
}

.star-wars {
    font-size: 50px;
    color: #fff;
    text-shadow: -1px -1px 0 #ff0, 2px -2px 0 #ff0, 5px 5px 0 #ff0;
}